body > footer {

  inline-size: 100%;
  font-size: var(--fsize--1);
  text-align: center;
  padding-block: 2em;
  padding-inline: var(--layout-margin);
  background-color: var(--color-back2);
  margin-block-start: 4em;

  p {
    margin-block: 1em;
  }

  a:link, a:visited {
    text-decoration: none;
  }

}
