/* tag list */
.taglist {

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    margin-block: 3rem;
  }

  li {
    padding: 0;
    margin: 0;
  }

}
