/* theme switcher */
html, html[data-theme="light"], html:has(input[name="themeswitcher"][value="light"]:checked) {
	color-scheme: light;

  @media (width < 600px) or (height < 600px) {
    --font-weight-normal: 350;
  }
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

html[data-theme="dark"], html:has(input[name="themeswitcher"][value="dark"]:checked) {
	color-scheme: dark;
}

.themeswitcher {

  width: 1.2em;

  input, span {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 0.3s linear;
  }

  input:checked + label {
    opacity: 1;
    pointer-events: all;
  }

}
